/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; min-height: 100%;
min-width: 100%;}

body { margin: 0; font-size: 13px; line-height: 1.3; top:0px; bottom:0px; left:0px; right:0px; 
	background-image: -webkit-linear-gradient(90deg, hsl(300,4%,89%), hsl(0,0%,97%));
	background-image: -moz-linear-gradient(90deg, hsl(300,4%,89%), hsl(0,0%,97%));
}

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

#wrap{
	width: 825px;
	margin-left: auto;
	margin-right: auto;
}

::-moz-selection { background: #8A0F8A; color: #fff; text-shadow: none; }
::selection { background: #8A0F8A; color: #fff; text-shadow: none; }

#content-info{
	color: hsl(0,0%,50%);
}

.footnote {
font-size: 8px;
}

.footnotes {
font-size: 12px;
line-height: 150%;
margin-bottom: 15px;
}


/* =============================================================================
   Links
   ========================================================================== */

a { color: #06c; }
a:visited { color: #06c; }
a:focus { color: #09f; outline: thin dotted; }
a:hover, a:active { color: #09f; outline: 0; }
a:active, input.button:active { outline: 0; position: relative; top: 1px; }

.titleanchor{
	text-decoration: none;
}
.button, #post-nav a, #comments-nav a {
	display: inline-block;
	background: #06c;
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
	background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
	background-image: linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));		
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px;
	border-radius: 6px;
	color: #fff;
	border: none;
	padding: 8px 16px;
	cursor: pointer;
	text-decoration: none;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.15);
	width: auto;
	overflow: visible;
	-moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
	-webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
	-webkit-appearance: none;
}
.button:hover, #post-nav a:hover, #comments-nav a:hover { 
	background: #09f; 
	color: #fff; 
}

/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }

legend { border: 0; *margin-left: -7px; padding: 0; }

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

button, input { line-height: normal; *overflow: visible; }

table button, table input { *overflow: auto; }

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; resize: vertical; }

input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

#searchsubmit{
	display: none;
}


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Header
   ========================================================================== */

#banner { position: relative; margin: 22px auto 0; z-index: 1000; height: 110px;}
#banner .container { padding: 0; }
.signature{
				font-style: italic;
				color: hsla(0,0%,0%,0.35);
				text-shadow: 0px 1px 0px hsla(0,0%,100%,0.7);
				font-size: 14px;
				position: relative;
				margin-bottom: 20px;
			}

#logo { float: left; margin: 0; padding: 0; }
#logo img { width: 260px; }



/* =============================================================================
   Content
   ========================================================================== */

#content { margin-bottom: 24px; margin-top: 0px; position:relative;}
#content .container { width: auto; position: relative; padding: 0; }


/* =============================================================================
   Main content area
   ========================================================================== */
   
#main { position: relative; width:500px;}
#main .container { padding: 0; }   

/* =============================================================================
   Sidebar
   ========================================================================== */
   
#sidebar { position: absolute; width:235px; top:40px; right: 0px; }
#sidebar ul { 
	position: relative; 
	list-style: none; 
	margin: 0 0 6px 0; 
	padding: 0;
	float: left; 
	width: 100%;
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px; 
	border-radius: 6px;
}
#sidebar li{
	margin-bottom: 15px;
	margin-left: 0px;
	font-size: 16px;
}
#sidebar li a{
	text-decoration: none;
	color: hsl(0,0%,50%);
	text-shadow: 0px 1px 0px #fff;
}
#sidebar li a:hover{
	text-decoration: none;
	color: hsl(300,70%,20%);
	text-shadow: 0px 1px 0px #fff;
	-webkit-transition: all 0.2s linear;
}
#sidebar #s{
	padding: 6px;
	border-radius: 3px;
	border: 1px solid hsla(0,0%,0%,0.15);
	width: 175px;
	font-size: 14px;
	box-shadow: inset 0px 1px 3px hsla(0,0%,20%,0.1);
	margin: 0px;
	background-color: hsl(0,0%,97%);
}
#sidebar .container { width: auto; padding: 0; }
#sidebar .widget { clear: both; margin-bottom: 1.9em; }
#sidebar .widget .gform_wrapper ul { padding: 0; list-style-type: none; }
#sidebar .widget_search{margin-top:22px;}

/* FUSION AD */

#fusion_ad{
	margin-left: 2px;
	margin-top:22px;
    margin-bottom:22px;
	width: 180px;
	display: block;
	position: relative;
}
.fusionimg{display: block; margin-bottom: 8px; margin-left: 0px;}

.fusiontext{display:block; text-decoration: none; color: #555; margin-bottom: 5px;}

.fusionentire{text-decoration: none; color:#333;}


/*  HACKS  */

.dsq-subscribe-email{ display: none;}

article > footer{
	display: none;
}

.sponsorship .date-container{
	display: none;
}

.contact .date-container{
	display: none;
}

.membership .date-container{
	display: none;
}
.about .date-container{
	display: none;
}

/* =============================================================================
   Posts
   ========================================================================== */
.post{
	border-bottom: 1px solid hsla(0,0%,0%,0.05);
	box-shadow: 0px 1px 0px hsla(0,0%,100%,0.05);
    padding-top: 20px;
	padding-bottom: 10px;
	margin-left: 4px;
	font-family: Helvetica;
	text-shadow: 0px 1px 0px #fff;
	line-height: 21px;
	font-size: 15px;
}
.post h1 a{
	font-weight: bold;
	font-size: 21px;
	color: hsl(300,70%,20%);
	margin-bottom: 10px;
	text-shadow: 0 1px 0 hsla(0,0%,100%,0.6);
	-webkit-transition: all 0.3s linear;
	text-decoration: none;
}
.post .title a {
	font-weight: bold;
	font-size: 21px;
	color: hsl(300,70%,20%);
	margin-bottom: 10px;
	text-shadow: 0 1px 0 hsla(0,0%,100%,0.6);
	-webkit-transition: all 0.3s linear;
	text-decoration: none;
    position: relative;
    top: 2px;
}
.post .title a:hover {
	color: hsl(300,80%,30%);
}
.post .link a {
    font-size: 15px;
	color: hsl(300,70%,20%);
    text-decoration: none;
    border-bottom: 1px solid hsl(300,20%,80%);
    margin-bottom: 8px;
    padding-bottom: 2px;
    position: relative;
	-webkit-transition: all 0.3s linear;
}
.post .link a:hover {
    color: hsl(300, 80%, 30%);

}
.post .link .linked-list-permalink a {
    position: relative;
    top: 2px;
    border-bottom: 0;
    margin-left: 0.5em;
	font-size: 20px;
	color: hsl(300,20%,80%);
	text-shadow: 0 1px 0 hsla(0,0%,100%,0.6);
	-webkit-transition: all 0.3s linear;
	text-decoration: none;
}
.post .link .linked-list-permalink a:hover {
	color: hsl(300,70%,30%);
}
.post .linked {
    margin-left: 1em;
}
.post .post-icon{
	float: left;
	display: block;
}
.post p img{
	border: 15px solid #fff;
	box-shadow: 0px 1px 12px #bbb;
	margin: 2px;
	margin-bottom: 20px
}
.post .date-container{
	color: hsl(0,0%,30%);
	font-size: 12px;
    text-transform: uppercase;
	text-shadow: 0px 1px 0px #fff;
	color: hsl(0,0%,60%);
    padding-bottom: 30px;
    padding-top: 20px;
}
.post blockquote {
	display: block;
	padding: 0px 0px 0px 20px;
	margin: 0px 0px 2px;
	border-left: 3px solid #CCC;
	color: #777;
	}
.hentry header { margin-bottom: 1.5em; }
.hentry h1 { line-height: 1.2em; margin-bottom: 0.2em; }
.hentry h2:first-child { line-height: 1.2em; margin-bottom: 0; }
.hentry h2 a { text-decoration: none; }
.hentry time { display: block; font-size: 12px; position: relative; color:hsl(0,0%,60%);}
.hentry p.byline { font-size: 12px; position: relative; color:hsl(0,0%,60%); margin: 0;}
.hentry p.byline a { font-size: 12px; position: relative; color:hsl(0,0%,60%);}


#disqus_thread{
	margin-top: 85px;
}


/* =============================================================================
   Post and comment navigation
   ========================================================================== */

#post-nav { clear: both; *display: inline-block; }
#post-nav:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; overflow: hidden; }
#post-nav .post-previous { float: left; width: 50%; }
#post-nav .post-next { float: right; width: 50%; text-align: right; }
#post-nav .post-next a { float: right; }

#comments-nav { clear: both; margin: 0 0 1.5em 0; *display: inline-block; }
#comments-nav:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; overflow: hidden; }
#comments-nav .comments-previous { float: left; width: 50%; }
#comments-nav .comments-next { float: right; width: 50%; text-align: right; }
#comments-nav .comments-next a { float: right; }


/* =============================================================================
   Post comments
   ========================================================================== */
   
ol.commentlist img.avatar { float: left; margin-right: 10px; }
ol.commentlist time { display: block; font-size: 1em; margin-bottom: 0.5em; position: relative; }
ol.commentlist .comment-reply-link { display: block; margin-bottom: 1.5em; }
#commentform { *display: inline-block; }
#commentform p { margin-bottom: 1em; }
#commentform label { display: block; }
#commentform textarea { display: block; }
#commentform input.button { margin-top: 0.5em; }
#commentform:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; overflow: hidden; }


/* =============================================================================
   Gallery
   ========================================================================== */
   
figure.gallery-item { float: left; margin: 0 1em 1em 0; position: relative; }
figure.gallery-item a img { 
	border: 4px solid #bbb; 
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px; 
	border-radius: 6px; 
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); 
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); 
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); 
}
figure.gallery-item a:hover img { border-color: #ccc; }
figure.gallery-item figcaption { display: none; }


/* =============================================================================
   Footer
   ========================================================================== */

footer .navigation a{
	text-decoration: none;
	text-shadow: hsla(0,0%,100%,0.5);
	font-size: 14px;
}
.footerbutton a{
	background-color:#eee; border-radius:4px; border:1px solid #aaa; padding:9px; width:104px; text-decoration:none;
	margin: 4px 4px 34px 4px;
	background-image: -webkit-linear-gradient(90deg, hsl(300,4%,89%), hsl(0,0%,97%));
	background-image: -moz-linear-gradient(90deg, hsl(300,4%,89%), hsl(0,0%,97%));
}
.footerbutton a:active{
	background-color:#eee; border-radius:4px; border:1px solid #aaa; padding:9px; width:104px; text-decoration:none;
	margin: 4px 4px 34px 4px;
	background-image: -webkit-linear-gradient(270deg, hsl(300,4%,89%), hsl(0,0%,97%));
	background-image: -moz-linear-gradient(270deg, hsl(300,4%,89%), hsl(0,0%,97%));
}

.footerbutton{
	margin-bottom: 50px;
	margin-top: 25px;
}

#content-info { clear: both; position: relative; }
#content-info > .container { padding: 0 0 1.5em; }

#content-info ul.menu { margin: 0 0 24px; padding: 0; list-style-type: none; }
#content-info ul.menu li { display: inline; margin-right: 1em; }

#content-info p.copy small { font-size: 1em; }


/* =============================================================================
   Gravity Forms
   ========================================================================== */

.gform_wrapper { margin: 0; max-width: none; }
.gform_wrapper .gform_heading { width: 100%; margin-bottom: 1.5em; }
.gform_wrapper .gsection .gfield_label, .gform_wrapper h2.gsection_title, .gform_wrapper h3.gform_title {	font-size: 1.5em; font-weight: 400; }
.gform_wrapper h3.gform_title { margin-top: 0; }
.gform_wrapper .top_label .gfield_label { margin: 6px 0 0 0; }
.gform_wrapper .top_label input.medium { padding-right: 0; }
.gform_wrapper .left_label .gfield_label,
.gform_wrapper .right_label .gfield_label { margin: 10px 10px 0 0; }
.gform_wrapper .left_label ul.gfield_checkbox, 
.gform_wrapper .left_label ul.gfield_radio, 
.gform_wrapper .right_label ul.gfield_checkbox, 
.gform_wrapper .right_label ul.gfield_radio {
	margin: 9px 0 0 31%;
}
.gform_wrapper input[type=text],
.gform_wrapper input[type=url],
.gform_wrapper input[type=email],
.gform_wrapper input[type=tel],
.gform_wrapper input[type=file],
.gform_wrapper input[type=number],
.gform_wrapper input[type=password],
.gform_wrapper textarea,
.gform_wrapper select {
	font-size: 1em;
	line-height: 14px;
	padding: 4px;
	margin: 6px 0;
	border: 1px solid #bbb;
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
	-moz-box-sizing: border-box;	
	-webkit-box-sizing: border-box;
	box-sizing: border-box;	
	vertical-align: middle;	
}
.gform_wrapper input[type=text]:focus,
.gform_wrapper input[type=url]:focus,
.gform_wrapper input[type=email]:focus,
.gform_wrapper input[type=tel]:focus,
.gform_wrapper input[type=number]:focus,
.gform_wrapper input[type=password]:focus,
.gform_wrapper textarea:focus,
.gform_wrapper select:focus {
	border: 1px solid #666;
}
.gform_wrapper select { padding: 3px; }
.gform_wrapper .small, .gform_wrapper .large { font-size: 1em; line-height: 14px; }
.gform_wrapper ul.right_label li, 
.gform_wrapper ul.left_label li, 
.gform_wrapper form ul.right_label li, 
.gform_wrapper form ul.left_label li {
	margin-bottom: 4px;
}
.gform_wrapper .description, 
.gform_wrapper .gfield_description, 
.gform_wrapper .gsection_description, 
.gform_wrapper .instruction {
	font-size: 0.9em;
	font-style: normal;
	padding: 0;
}
.gform_wrapper .right_label .gfield_description, 
.gform_wrapper .right_label .instruction,
.gform_wrapper .left_label .gfield_description, 
.gform_wrapper .left_label .instruction {
	padding: 0;
	margin-left: 31%;
}
.gform_wrapper .ginput_complex label, 
.gform_wrapper .gfield_time_hour label, 
.gform_wrapper .gfield_time_minute label, 
.gform_wrapper .gfield_date_month label, 
.gform_wrapper .gfield_date_day label, 
.gform_wrapper .gfield_date_year label, 
.gform_wrapper .instruction {
	font-size: 0.9em;
	font-weight: 400;
	letter-spacing: 0;
	margin: 0 0 6px 0;
}
.gform_wrapper .gfield_checkbox li input[type=checkbox], 
.gform_wrapper .gfield_radio li input[type=radio], 
.gform_wrapper .gfield_checkbox li input { float: none; display: inline-block; margin-top: 0; vertical-align: middle; }
.gform_wrapper .gfield_checkbox li label, .gform_wrapper .gfield_radio li label  { display: inline-block; margin: 0 0 0 8px; vertical-align: middle; }
.gform_wrapper .left_label .ginput_complex .ginput_right label, 
.gform_wrapper .left_label .ginput_complex .ginput_left label, 
.gform_wrapper .right_label .ginput_complex .ginput_right label, 
.gform_wrapper .right_label .ginput_complex .ginput_left label { word-spacing: 0; }
.gform_wrapper .gfield_checkbox li label, .gform_wrapper .gfield_radio li label { font-weight: 400; }
img.ui-datepicker-trigger { vertical-align: middle; }
.gform_wrapper .gf_progressbar_wrapper { width: 100%; }
.gform_wrapper .gf_page_steps { border-bottom: 1px dashed #ddd; width: 100%; }
.gform_wrapper .gf_step { font-family: sans-serif; }
.gform_wrapper .gf_step span.gf_step_number { font-family: sans-serif; }
.gform_wrapper .gsection  { border-bottom: 1px dashed #ddd; }
.gform_wrapper .gform_page_footer { border-top: 1px dashed #ddd; }
.gform_wrapper .gform_footer { margin: 6px 0 0 0; padding: 0; }
.gform_wrapper .gform_footer.right_label, .gform_wrapper .gform_footer.left_label { margin: 6px 0 0 0; padding: 0 0 0 31%; }
.gform_footer input.button { *padding: 8px 16px; }
.gform_wrapper .gform_edit_link { display: none; }
.gform_wrapper .validation_error { font-size: 1em; font-weight: 400; padding: 0.8em; margin-bottom: 1.5em; background: #fbe3e4; color: #8a1f11; border: 2px solid #fbc2c4; }
.gform_wrapper .validation_message { display: none; }
.gform_wrapper li.gfield.gfield_error {
	background: none;
	margin-bottom: 6px !important;
	padding: 0 !important;
	border: none;
}
.gform_wrapper .top_label .gfield_error .ginput_container { max-width: none; }
.gform_wrapper .top_label .gfield_error { margin-bottom: 0 !important; }
.gform_wrapper .gfield_error .gfield_label { color: #8a1f11; }
.gform_wrapper .gfield_error input, 
.gform_wrapper .gfield_error select, 
.gform_wrapper .gfield_error textarea { background: #FBE3E4; border-color: #FBC2C4; }
.gform_wrapper .top_label .gfield_error input, 
.gform_wrapper .top_label .gfield_error textarea, 
.gform_wrapper .top_label .gfield_error select { border-color: #FBC2C4; }
.gform_wrapper .top_label .gfield_error { width: auto; }



/* =============================================================================
   Search form
   ========================================================================== */
  
#searchform #s { padding: 5px; }



/* =============================================================================
   WordPress generated classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { margin: 0 1.5em 1.5em 0; float: left; }
.alignright { margin: 0 0 1.5em 1.5em; float: right; }

.wp-caption { border: 1px solid #ddd; text-align: center; background: #eee; padding: 14px 10px 6px 10px; margin: 15px 10px; }
.wp-caption-text { margin: 0; }


/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

[hidden] { display: none; visibility: hidden; }
.hidden { display: none; visibility: hidden; }

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

.invisible { visibility: hidden; }

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media screen and (max-device-width: 768px) {
/* iPad and below */
	#wrap{
		width: 720px;
	}
	#main{
		width: 460px;
	}
}

@media screen and (max-device-width: 480px){
/* iPhone and below */

/*@media only screen and (min-width: 480px) { */
	/* Style adjustments for viewports 480px and over go here 
		*<meta name="viewport" content="user-scalable=no, width=device-width" />
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
		<meta name="apple-mobile-web-app-capable" content="yes" />  
		<meta name="apple-mobile-web-app-status-bar-style" content="black" /> 
		html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {
    -webkit-text-size-adjust:none;
    
    window.addEventListener('load', function() {
    	setTimeout(scrollTo, 0, 0, 1);
    	}, false);
}
		
	*/
		#wrap{
			width: 535px;
		}
		#sidebar {
			position: relative;
			width: 535px;
			margin-bottom: 70px;
text-align: center;
font-size: 24px;
			}
		.post{
			font-size: 29px;
			line-height: 40px;
		}
		.post h2, .post h2 a, .post .link a, .post .title a {
			font-size: 32px;
			line-height: 39px;
		}
		#main{
      margin-top: 2em;
			margin-left: 16px;
			
		}
		#content {
			width:500px;
		}
		#logo{
			position: relative;
			float: none;
			left: 64px;
		}
		#logo img{
			width: 400px;
		}
		#banner{
			height: 150px;
			margin-top: 18px;
		}
		.post .date-container {
			padding: 4px 0px 0px 0px;
			font-size: 24px;
		}
		img,
		img[class*="align"],
		img[class*="wp-image-"] {
		   max-width: 100%;
		   height: auto;
		}
		.signature{
			font-size: 25px;
		}
		#sidebar li {
		margin-bottom: 15px;
		margin-left: 0px;
		font-size: 24px;
		}
		#sidebar .widget {
		margin-bottom: 1.2em;
		}
		#respond{
			display: none;
		}
		#disqus_thread{
			display: none;
		}
		span.linked-list-permalink > a{
			font-size: 42px !important;
			top:7px !important;
		}
		#execphp-3{
			display:none;
		}
		#execphp-7 > .container > .execphpwidget > div[style] {
			line-height: 37px !important;
		}
		#execphp-4, #execphp-7{
			width: 80%;
			margin: auto;
			font-size: 28px;
			line-height: 36px !important;
		}
		#menu-site-menu li{
			font-size: 36px !important;
		}
		footer{
			text-align: center;
		}
		footer .navigation .footerbutton a{
			font-size: 26px;
			padding: 15px;
			border-radius: 10px;
			margin-top: 10px;
		}
		#search-3 input{
			font-size: 28px;
			width: 320px;
			padding: 9px;
		}
}


/* =============================================================================
   Print styles
   ========================================================================== */
 
@media print {
	* { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
	a, a:visited { text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; }
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
}

/* =============================================================================
  UNUSED
   ========================================================================== */
   
   #nav-main{
	width: 250px;
	position: absolute;
	right:0px;
	top:150px;
	display: none;
}
#nav-main ul { 
	position: relative; 
	list-style: none; 
	margin: 0 0 16px 0; 
	padding: 0;
	float: left; 
	width: 100%;
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px; 
	border-radius: 6px;
}
#nav-main ul li { margin: 0; *zoom: 1; } 
#nav-main ul li:hover { position: relative; }
#nav-main ul li a { 
	text-decoration: none; 
	display: block; 
	font-size: 14px; 
	padding: 8px 16px; 
	color: #ccc; 
	margin: 0; 
	text-shadow: 0px 1px 0 hsla(0, 0%, 100%, 0.7);
}
#nav-main ul li a:hover, 
#nav-main ul li.current-menu-item > a, 
#nav-main ul li.current-menu-parent > a, 
#nav-main ul li.current-menu-ancestor > a, 
#nav-main ul li:hover > a { 
	color: #73c8ff; 
}

#nav-main ul ul { 
	position: absolute; 
	visibility: hidden;
	top: 100%;
	left: 0;
	width: 200px; 
	background: #73c8ff; 
	padding: 0; 
	-moz-border-radius: 0; 
	-webkit-border-radius: 0; 
	border-radius: 0; 
}
#nav-main ul ul li { float: none; }
#nav-main ul ul li a { 
	font-size: 12px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
	padding: 4px 16px; 
	width: 168px; /* account for the width of ul#nav-main ul and the padding on the anchor */
	display: inline-block;

}
#nav-main ul ul li a:hover, 
#nav-main ul ul li.current-menu-item > a, 
#nav-main ul ul li.current-menu-parent > a, 
#nav-main ul ul li.current-menu-ancestor > a, 
#nav-main ul ul li:hover > a {
	color: #06c; 
}

#nav-main ul ul ul { left: 100%; top: 0; }
#nav-main ul li:hover > ul { visibility: visible; }

#nav-utility { position: absolute; top: 0; right: 0; }
#nav-utility ul { list-style: none; margin: 0; padding: 0; float: right; width: auto; position: relative; }
#nav-utility ul li { float: left; position: relative; }
#nav-utility ul li a { display: block; float: left; padding: 2px 6px; }
